RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt|assets|js|uploads)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1 [L]
DirectoryIndex index.php , index.html , index.htm

DirectoryIndex index.php , index.html , index.htm

DirectoryIndex index.php , index.html , index.htm

DirectoryIndex index.php , index.html , index.htm
